# Ignore everything at root
/*
# Whitelist: these are tracked
!.gitignore
!README.md
!app_parallel_IO/

# Ignore everything inside app_parallel_IO except src/
app_parallel_IO/*
!app_parallel_IO/src/

# Inside src, ignore everything by default
app_parallel_IO/src/*
# Whitelist: actual source files
!app_parallel_IO/src/*.c
!app_parallel_IO/src/UserConfig.cmake
!app_parallel_IO/src/*.md

# Whitelist: app_DAC
!app_DAC/
app_DAC/*
!app_DAC/src/
app_DAC/src/*
!app_DAC/src/*.c
!app_DAC/src/UserConfig.cmake
!app_DAC/src/*.md

# Whitelist: app_final_project
!app_final_project/
app_final_project/*
!app_final_project/src/
app_final_project/src/*
!app_final_project/src/*.c
!app_final_project/src/UserConfig.cmake
!app_final_project/src/User/
app_final_project/src/User/*
!app_final_project/src/User/*.c
!app_final_project/src/User/*.h
!app_final_project/src/*.md
!app_final_project/src/User/*.md

# Whitelist: app_ADC
!app_ADC/
app_ADC/*
!app_ADC/src/
app_ADC/src/*
!app_ADC/src/*.c
!app_ADC/src/UserConfig.cmake
!app_ADC/src/*.md

!操作考试复习